<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
<link rel="stylesheet" href="/stylesheets/404.css" />
</head>

<body>
    <main>
        <div class="container">
            <h1>404</h1>
            <h2>Page does not exist! </h2>
            <p>Unless you were looking for this error page, in which case you find it!</p>
        </div>
    </main>
</body>